@model MainSectionShortViewModel
@{
    ViewData["Title"] = "MainSectionShortViewModel";
}

<p class="text-center">
    <a asp-action="Details" asp-route-id="@Model.Id">
        <i class="glyphicon glyphicon-arrow-right"></i> @Model.Name
    </a>
</p>

