@model SectionShortViewModel


<p class="text-center">
    <a asp-area="Admin" asp-controller="Sections" asp-action="Details" asp-route-id="@Model.Id">
        <i class="glyphicon glyphicon-arrow-right"></i> @Model.Name</a>
</p>