
@model IEnumerable<SectionShortViewModel>
@{
    ViewData["Title"] = "All Sections";
}

<h2 class="text-center">All Sections</h2>

<div class="jumbotron jumbotron-fluid ">
         
        @Html.DisplayForModel()
          
</div>