
@model IEnumerable<SectionShortViewModel>
@{
    ViewData["Title"] = "All Sections";
}


<h2 class="text-center">All Sections</h2>

<div class="jumbotron jumbotron-fluid ">
         
        @Html.DisplayForModel()

    <div class="text-center">
        <a asp-area="Admin" asp-controller="Sections" asp-action="Create" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"> </i> Create new section
        </a>
    </div>
    
</div>