@model BanBindingModel
@{
    ViewData["Title"] = "Ban";
}

<h2 class="text-center">Ban of user:  <b>@ViewData["Message"]</b></h2>


<div class="jumbotron jumbotron-fluid">
    <form asp-area="Admin" asp-controller="Users" asp-action="Ban" method="post" class="form-horizontal">
        <input type="hidden" asp-for="@Model.Id" />

        <div class="form-group row">
            <label asp-for="LockoutEnd" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LockoutEnd" class="form-control" placeholder="dd.MM.2018 hh:ss"/>
                <span class="text-danger" asp-validation-for="LockoutEnd"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 col-sm-push-2">
                <input type="submit" value="Ban" class="btn btn-primary" />
                <a asp-area="Admin" asp-controller="Users" asp-action="Index"
                   class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

