@page
@model IndexModel

<h1 class="text-center">Welcom to our fisherman's Chat!</h1>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
               
        <div class="input-group text-center">
            <input type="text" id="messageInput" class="form-control" placeholder="your message here" aria-describedby="sendButton">
            <span id="sendButton" class="input-group-addon"><b>Send message</b></span>
        </div>
    </div>
        
    <hr style="height: 5px;" class="bg-dark" />

    <div class="jumbotron jumbotron-fluid">
        <div id="messagesList">
        </div>
    </div>
</div>
