<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FishSpinDays</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bootstrap/dist/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/summernote.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FishSpinDays</a>
            </div>
            <div class="navbar-collapse collapse">


                <div class="dropdown nav navbar-nav">
                    <div class="dropdown nav navbar-nav ">
                        <button class=" dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" margin-top: 10px;">
                            Trips
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a asp-area="" asp-controller="Home" asp-action="Sea">Sea fishing</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Freshwater">Freshwater</a></li>
                        </ul>
                    </div>

                    <div class="dropdown nav navbar-nav">
                        <button class=" dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" margin-top: 10px;">
                            Tackle&Lures
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                            <li><a asp-area="" asp-controller="Home" asp-action="Rods">Rods&Reels</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Lures">Lures</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Handmade">Handmade</a></li>
                        </ul>
                    </div>

                    <div class="dropdown nav navbar-nav">
                        <button class=" dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" margin-top: 10px;">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                            <li><a asp-area="" asp-controller="Home" asp-action="Eco">Eco actions</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="School">Fishing school</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Anti">Anti-poaching</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Breeding">Fish breeding</a></li>
                        </ul>
                    </div>
                                      
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="dropdown nav navbar-nav">
                            <button class=" dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style=" margin-top: 10px;">
                                Sections
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                                <li><a asp-area="Admin" asp-controller="MainSections" asp-action="Index">Main sections</a></li>
                                <li><a asp-area="Admin" asp-controller="Sections" asp-action="Index">Sections</a></li>
                            </ul>
                        </div>

                        <div class="dropdown nav navbar-nav">
                            <button onclick="location.href='/Admin/Users/Index'"
                                    asp-area="Admin" asp-controller="Users" asp-action="Index" type="submit" style=" margin-top: 10px;">
                                All users
                            </button>
                        </div>
                    }
                    @if (this.Context.User.Identity.IsAuthenticated || this.User.IsInRole("Administrator"))
                    {
                        <div class="dropdown nav navbar-nav">
                            <button onclick="location.href='/Identity/Publications/Add'"
                                    asp-area="Identity" asp-controller="Publications" asp-action="Add" type="submit" style=" margin-top: 10px;">
                                New publication
                            </button>
                        </div>
                    }
                </div>

                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    <div class="text-center">
        <a asp-area="" asp-controller="Home" asp-action="Index" >   <img id="headPicture" src="~/images/fsdHead.jpg" /></a>
    </div>

    <partial name="_CookieConsentPartial" />
    <span id="topofpage"></span>
    <div class="container body-content">

        <partial name="_Messages" />

        @RenderBody()
        <hr />

        <a href="#topofpage">Go to top</a>
        <footer class="text-center">
            <p>&copy; 2018 - FishSpinDays</p>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/summernote.min.js"></script>
    
        <script>
            $('document').ready(function () {
                $('#description').summernote();
            });
        </script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
