


<br />
<form asp-area="Identity" asp-page="/Search" method="get" class="navbar-form">
    <div class="form-group" style="display:inline;">
        <div class="input-group" style="display:table;">
            <input class="form-control " type="search" name="searchTerm" placeholder="Search" aria-label="Search">
            <span class="input-group-addon" style="width:1%;">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</form>

<br />
<nav class="navbar navbar-default col-xs-2" role="navigation">
    <br />
    <p class="text-center"><a asp-area="" asp-controller="Publications" asp-action="MostRated">MOST RATED</a></p>
    <p><b>Trips</b></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Sea">Sea fishing</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Freshwater">Freshwater fishing</a></p>
    <p><b>Tacke&Lures</b></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Rods">Rods&Reels</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Lures">Lures</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Handmade">Handmade</a></p>
    <p><b>Actions&Events</b></p>    
    <p><a asp-area="" asp-controller="Home" asp-action="Eco">Eco actions</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="School">Fishing shcool</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Anti">Anti-poatching</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Breeding">Fish breeding</a></p>
    <p><a href="#">Menu Item 4</a></p>
    @*<p><a href="#">Total posts <span class="badge">1118</span></a></p>*@

    <br />
    <p class="text-center">HISTORY</p>
    <p><a asp-area="" asp-controller="Home" asp-action="Year"><b>2018</b></a></p>
    @*<p><a asp-area="" asp-controller="Home" asp-action="January">January</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="February">February</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="May">May</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="June">June</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="July">July</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="August">August</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="September">September</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Octomer">Octomer</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="November">November</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="December">December</a></p>*@
</nav>





