@model IEnumerable<PublicationShortViewModel>
@{
    ViewData["Title"] = "Fishing trips";
}

<div class="row">
    <div class="col-xs-10">

        <h2 class="text-center">The latest anti-poaching actions publications</h2>
        @Html.DisplayForModel()

        <partial name="_Pagination" />

    </div>
    <partial name="_RightPartialIndex" />
</div>