@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>

<h4>
    You are always welcome to participate in our events.<br />
    For more information and coordination how to participate in every event please contact us at:
</h4>
<address>
    FishSpinDays Ltd<br />
    Bulgaria, Sofia 1000<br />
    <abbr title="Phone">Phone:</abbr>
    +359 885 192977
</address>

<address>
    <strong>Email:</strong> <a href="hhristoff@yahoo.com">hhristoff@yahoo.com</a><br />
</address>
