@model IEnumerable<PublicationShortViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*<partial name="_RightBarPartial" />*@

<h1 class="text-center">Welcome to our Fishing Stories with Spinning Road</h1>

@Html.DisplayForModel()


@*@await Html.PartialAsync("_RightBarPartial.cshtml")*@
