
@{
    ViewData["Title"] = "Info";
}

<br />
<div class="jumbotron jumbotron-fluid">
    <h4>
        Dear Visitors,
        <br /> <br />
        Only one fast step for registration could give you the following additional options: <br />
        * to use our real-time communication chat channel;<br />
        * to write publications in different fishing sections chosen by dropdown list (sea fishing, freshwater fishing, rods and reels, lures, handmade lures, fishing schools and etc.); <br />
        * to like a publications, but not your own publications; <br />
        * to make some comments and like or dislike comments; <br />
        * to use the API of the application. <br />
        <br />
        Enjoy our fishing stories and see the latest fishing events.
    </h4>
</div>

