@model PartPublicationsViewModel
@*@model IEnumerable<PublicationShortViewModel>*@
@{
    ViewData["Title"] = "Sea fishing";
}

<div class="row">
    <div class="col-xs-10">

        <h2 class="text-center">The latest sea fishing publications</h2>

        @{
            if (!Model.Publications.Any())
            {
                <br /><p class="text-center">"No publivations in this section"</p>
            }
            else
            {
                @Html.DisplayFor(m => m.Publications)
            }
        }


        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li> <span aria-hidden="true">&laquo;</span> </li>
                @{
                    for (int i = 1; i <= Model.Count; i++)
                    {
                        <li>
                            <a class="activ" asp-area="" asp-controller="Home" asp-action="Sea"
                               asp-route-id="@i">@i</a>
                        </li>
                    }
                }
                <li> <span aria-hidden="true">&raquo;</span> </li>
            </ul>
        </nav>

    </div>
    <partial name="_RightPartialIndex" />
</div>


